
.image-hover:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.8), 10, 0, 0, 0);
    -fx-cursor: hand;
}
.margin-top-bottom {
    -fx-margin-top: 0px;
    -fx-margin-bottom: 0px;
}

.contact:hover {
   -fx-cursor: hand;
   -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.8), 10, 0, 0, 0);
}

